<% content_for :title, "Editing collection" %>
<div class="M_BackTitle">
  <%= link_to "<- Назад", request.referer || posts_path, class: "A_BackLink" %>
</div>
<div class="A_FromHeading">
  <h1>Редактирование коллекции</h1>
</div>
<div class="L_Form">
  <%= render "form", collection: collection_path(@collection) %>
</div>