  <% content_for :title, "Новая коллекция" %>
<div class="S_FormBody">
  <div class="M_BackTitle">
    <%= link_to "<- Назад", request.referer || posts_path, class: "A_BackLink" %>
    <h1>Новая коллекция</h1>
  </div>
  <%= render "form", collection: @collection %>
  <br>
  <div>
  </div>
</div>