<form class="M_MenuSearch" action="<%= home_search_path %>", method="POST" data-turbo="false">
  <input type="text" placeholder="Что ищем?" name = "search">
  <input style="display: none;" type="submit" value="Найти">
</form>