<%# FirstScreenCover %>
<h1>Здарова, салага</h1>
<div class="test"></div>
<div data-controller="hello">
  <button data-action="click->hello#greet">Click me</button>
</div>
<div class='large-font text-center top-20'>
  <ion-icon name="heart">
    <div class='red-bg'></div>
  </ion-icon>
</div>
