<h1>Что нарыли</h1>
<div class="S_SearchPage">
  <% if @items.any? %>
    <%= render "search_results", item: @items %>
  <% else %>
    <p>Ничего не найдено <br>
      <small>Поищи ещё</small></p>
  <% end %>
</div>