<%
  set_meta_tags(
    title: "Гениальные и концептуальные художники",
    description: "Самые классные и интересные авторы нашего медиа",
  )
%>
<p style="color: green"><%= notice %></p>
<div class="L_Artists">
  <div class="C_ProfilesArtists">
    <% @profiles.each do |profile| %>
      <%= render 'profiles/profile', profile: profile %>
    <% end %>
  </div>
</div>
</div>