<%
  set_meta_tags(
    title: "Гениальные и концептуальные художники",
    description: "Самые классные и интересные авторы нашего медиа",
  )
%>
<p style="color: green"><%= notice %></p>
<div class="C_ProfilesArtists">
  <% @profiles.select { |profile| @profile_post_counts[profile.user_id].to_i >= 4 }.each do |profile| %>
    <%= render 'profiles/profile', profile: profile %>
  <% end %>
</div>
