<%= form_with(model: [@post, Comment.new], class: "O_CommentForm") do |f| %>
  <div class="M_FormGroup">
    <%= f.label :body, "Ваша гениальная мысль", class: "form-label" %>
    <%= f.text_field :body, class: "A_TextField" %>
  </div>
  <div style="height: content-fit;" class="form-submit">
    <%= f.submit "Наяппить", class: "A_SubmitForm" %>
  </div>
<% end %>