<%= form_with(model: [@post, Comment.new], class: "O_CommentForm") do |f| %>
  <div class="M_FormGroup">
    <%= f.text_area :body, class: "A_TextArea",placeholder: "Мой комментарий" %>
  </div>
  <div style="height: content-fit;" class="form-submit">
    <%= f.submit "Отправить", class: "A_Button medium" %>
  </div>
<% end %>