<%# app/views/displays/new.html.erb %>
<% if @show_notice %>
  <div class="alert alert-info">
    Пост сохранён! Теперь вы можете добавить выставки.
  </div>
<% end %>
<div class="L_DisplayForm">
  <h1>Экспозиции работы</h1>
  <div id="new_display">
    <%= render "form", post: @post, display: @display %>
    <!-- Блок с добавленными выставками -->
  </div>
  <div class="O_DisplaysAdded">
    <div class="M_TitleFilter">
      <h3 class="headline-4">Добавленные</h3>
      <div class="M_FilterDisplays">По году</div>
    </div>
    <div class="C_AddedDisplays" id="C_AddedDisplays">
      <%= render partial: "display", collection: @displays, as: :display, locals: { post: @post, show_delete: true } %>
    </div>
  </div>
</div>
