<% content_for :title, "Editing post" %>
<div class="M_BackTitle">
  <%= link_to "<- Назад", request.referer || posts_path, class: "A_BackLink" %>
</div>
<div class="A_FromHeading">
  <h1>Редактирование работы</h1>
</div>
<%= render "form", post: @post %>
