.A_Logo {
  background-image: url("assets/etc/A_Logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 146px;
  height: 67px;
  margin-left: 3.3rem;
}

.A_Avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 40rem;
}
.A_ProfileAvatar {
  width: 6rem;
  border: 0.5px solid var(--almost-black);
  border-radius: 200px;
}

.A_DisplayMetrics {
  width: 100%;
  height: 0.5rem;
  background-color: var(--lyons-blue);
}

.A_CategoryData {
}

.A_Category {
  margin-bottom: 8px;
  .A_Tag {
    border: none;
    padding: 0;
    font-size: 13px;
    color: var(--ash-grey);
    text-transform: none;
    transition: transform 0.3s ease;

    &:hover {
      text-decoration: underline;
      background-color: var(--pure-white);
    }
  }
}
.A_Button {
  background-image: url("/assets/buttons/A_ActionButton.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 10rem;
  height: 54px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  &:hover {
    opacity: 90%;
  }

  a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--almost-black);
  }
}
a.A_ButtonSecondary,
button.A_ButtonSecondary {
  background-color: none;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: #fad1d1;
  color: var(--almost-black);
  text-decoration: none;
  font-size: 12px;

  &:hover {
    opacity: 90%;
  }
}
input.A_Button {
  background-color: var(--pure-white);
  border: none;

  text-transform: uppercase;
  letter-spacing: 1px;
}
.A_ButtonSecondary.Danger {
  background-color: #ff7171;
  color: var(--pure-white);
}
.A_PlusAddButton {
  width: 100px;
  height: 100px;
  display: inline-block;
  transition: transform 0.3s ease;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.2);
  }
}
/* TabsProfile */
.A_TabButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  transition: transform 0.3s ease;

  &:hover {
    background-color: #e9e9e9;
  }
  &:target {
    font-weight: bold;
    background-color: red;
  }
}
/* ProfileShow */
.A_BestStar {
  width: 3rem;
  height: 3rem;
  background-image: url("/assets/etc/A_Best.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: var(--pure-white);
    font-size: 12px;
  }
}
.A_SquareType {
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
}
.A_DisplayColorSigned {
  display: flex;
  gap: 0.5rem;
}
/* Forms */
.A_TextField {
  width: 100%;
  height: 54px;
  border-radius: 0.3rem;
  padding: 0.5rem;
  border: 1px solid var(--almost-black);
}
.A_LogoWhite {
  background: url("assets/etc/A_Logo_white.svg");
}
.A_Form {
  margin-bottom: 1rem;
  label {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
  }
  textarea {
    width: 600px;
    max-width: 600px;
    min-height: 100px;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
  }

  select {
    height: 48px;
    border: none;
    width: 300px;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  input {
    border-radius: 0.5rem;
    border: none;
    height: 48px;
    width: 600px;
    padding: 1rem;
  }
}
