.A_Logo {
  background-image: url("assets/etc/A_Logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 121px;
  height: 57px;
}
.A_FooterLogo {
  width: 414px;
  height: 106px;
  min-width: 313px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
/* Links */
.A_CloseMenu {
  border: none;
  background-color: inherit;
  stroke: none;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url("icons/Q_Close.svg");
  background-size: cover;

  &:hover {
    cursor: pointer;
    opacity: 75%;
  }
}

a.caption {
  color: var(--colors-neutral-900);
}

.A_MenuUpperLink {
  height: clamp(6rem, 8vw, 9rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  aspect-ratio: 2 / 1;
  background-position: bottom;
  margin-bottom: -0.3vw;
  background-size: 101% 100%;
  background-image: url("clip_images/triangle.svg");
  background-repeat: no-repeat;

  svg {
    position: absolute;
    top: 6px;
    left: -6px;
    width: 100.7%;
    height: clamp(6rem, 11vw, 8rem);
    z-index: -1;
  }
}
.A_MenuLinkSmall {
  flex: 1;
  text-decoration: none;
  border-top: 1px solid var(--colors-neutral-400);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colors-neutral-900);
  margin-top: -1px;
}

.A_Avatar {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
.A_ProfileAvatar {
  width: 6rem;
  border: 0.5px solid var(--almost-black);
  border-radius: 200px;
}

.A_DisplayMetrics {
  width: 100%;
  height: 0.5rem;
  background-color: var(--lyons-blue);
}

.A_CategoryData {
}

.A_Category {
  margin-bottom: 8px;
  .A_Tag {
    border: none;
    padding: 0;
    font-size: 13px;
    color: var(--ash-grey);
    text-transform: none;
    transition: transform 0.3s ease;

    &:hover {
      text-decoration: underline;
      background-color: var(--pure-white);
    }
  }
}
/* Tag */
.A_Tag {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  padding: 0px 12px;
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #f6f5f4;
  font-family: "Kommuna-regular";
  border-radius: 6px;
  font-size: 13px;
  text-decoration: none;
  color: var(--colors-neutral-900);
  text-transform: capitalize;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--colors-light-200);
    border-radius: 10px;
  }

  &[data-tag-context="materials"] {
    &::before {
      content: "";
      background: var(--brand-pink);
    }
  }
  &[data-tag-context="moods"] {
    &::before {
      content: "";
      background: var(--brand-blue);
    }
  }
  &[data-tag-context="genres"] {
    &::before {
      content: "";
      background: var(--brand-yellow);
    }
  }
  &[data-tag-context="themes"] {
    &::before {
      content: "";
      background: var(--brand-green);
    }
  }

  &:hover {
    cursor: pointer;
    color: var(--colors-neutral-600);
  }

  &.selected {
    &[data-tag-context="materials"] {
      &::before {
        content: "";
        background: var(--brand-pink);
      }
    }
    &[data-tag-context="moods"] {
      &::before {
        content: "";
        background: var(--brand-blue);
      }
    }
    &[data-tag-context="genres"] {
      &::before {
        content: "";
        background: var(--brand-yellow);
      }
    }
    &[data-tag-context="themes"] {
      &::before {
        content: "";
        background: var(--brand-green);
      }
    }
  }
}

/* Post */
.A_CreatorPost {
  display: flex;
  width: fit-content;
  padding: 4px 0.5rem;
  cursor: pointer;
  gap: 12px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--colors-neutral-900);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    p {
      color: var(--colors-neutral-600);
    }
  }
}

/* PostShow */
.A_NavigationPost {
  flex: 1;
  display: flex;
  height: 22px;

  gap: 0.5rem;
  align-items: center;

  a {
    color: var(--colors-neutral-300);
    text-decoration: none;
    font-family: "Inter-Tight";

    &:hover {
      color: var(--colors-neutral-600);
      cursor: pointer;
    }
  }

  p.artname {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Inter-Tight";
    margin-top: auto;
  }

  .С_Breadcrumbs {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;

    li {
      font-family: "Inter-Tight";
    }

    li::after {
      content: "/";
      margin-left: 0.5rem;
      color: #999;
    }
    li:last-child::after {
      content: "";
    }

    li:last-child {
      display: inline-block;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: "Inter-Tight";
    }
  }
}

.A_ImageContainer {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ArrowsSwitcher */
.A_ArrowSwitcher {
  width: 80px;
  height: 50px;
  transition: 0.3s all;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.A_ArrowSwitcher.left {
  background-image: url("icons/A_ArrowForward.svg");
  transform: rotate(180deg);
}

.A_ArrowSwitcher.right {
  background-image: url("icons/A_ArrowForward.svg");
}

/* Стили для неактивных стрелок */
.A_ArrowSwitcher.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none; /* Блокируем клики */
}

/* Hover-эффект только для активных стрелок */
.A_ArrowSwitcher:not(.disabled):hover {
  opacity: 0.6;
}

/* Buttons */
.A_Button {
  background-image: url("/assets/buttons/A_ButtonSmall.svg");
  background-color: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  width: 144px;
  height: 48px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;

  &:hover {
    opacity: 90%;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--almost-black);
  }

  &.green {
    background-image: url("/assets/buttons/Q_Green.svg");
  }
}
.medium {
  background-image: url("/assets/buttons/A_ButtonMedium.svg");
  width: 174px;

  &.green {
    background-image: url("/assets/buttons/Q_GreenMedium.svg");
  }
}
.large {
  background-image: url("/assets/buttons/A_ButtonLarge.svg");
  width: 204px;

  &.green {
    background-image: url("/assets/buttons/Q_GreenLarge.svg");
  }
}

.A_ButtonSecondary {
  border-radius: 8px;
  width: 144px;
  height: 48px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-family: "Komunna-regular";
  border: none;
  outline: none;
  background-color: var(--colors-light-300);
  text-decoration: none;
  font-size: 1rem;
  color: var(--colors-neutral-900);

  &:hover {
    background-color: var(--colors-light-400);
    cursor: pointer;
    color: var(--colors-neutral-600);
  }

  &.medium-s {
    width: 174px;
  }
}

.A_SmallButton {
  background-color: var(--colors-light-300);
  padding: 0.5rem;
  width: 132px;
  height: 30px;
  text-decoration: none;
  color: var(--colors-neutral-900);
  font-family: "Kommuna-regular";
  font-size: 13px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--colors-neutral-600);
    cursor: pointer;
  }

  &.danger {
    background: var(--colors-light-400);
    color: var(--system-danger);
  }
}

input.A_Button {
  border: none;
}

.A_PlusAddButton {
  width: 100px;
  height: 100px;
  display: inline-block;
  transition: transform 0.3s ease;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.2);
  }
}

.A_SaveButton {
  width: 120px;
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--colors-light-200);
  border-radius: 8px;
  border: none;
  font-family: "Inter-Tight";
  height: 2.5rem;

  .saved {
    background-color: var(--colors-neutral-900);
    color: var(--colors-neutral-50);
  }
  &:hover {
    background-color: var(--colors-light-400);
  }
}

.A_MenuButton {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--colors-light-200);
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--colors-light-300);
    cursor: pointer;
  }
}

/* TabsProfile */
.A_TabButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  transition: transform 0.3s ease;

  &:hover {
    background-color: #e9e9e9;
  }
}
/* ProfileShow */

.A_SquareType {
  width: 1rem;
  height: 1rem;
  border-radius: 4px;
}
.A_DisplayColorSigned {
  display: flex;
  gap: 0.5rem;
}
/* Forms */
.A_TextArea {
  width: 100%;
  max-width: 100%;
  min-height: 80px;
  border-radius: 0.3rem;
  resize: none;
  padding: 0.5rem;
  border: none;
  font-family: "Inter-Tight";
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}

.A_Label {
  font-size: 13px;
  font-family: "Inter-Tight";
  font-weight: 400;
  color: var(--colors-neutral-600);
}

.A_Form {
  background-color: var(--input-form-background);
  border: 1px solid var(--input-form-border);
  display: flex;
  font-family: "Inter-Tight";
  font-size: 15px;
  font-weight: 400;
  justify-content: space-between;
  height: 52px;
  max-width: 500px;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;

  &:focus {
    outline: 1px solid var(--colors-light-400);
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--colors-neutral-900);
  transition: background-color 5000s ease-in-out 0s;
}
textarea.A_Form {
  min-height: 112px;
  resize: none;
  font-size: 15px;
  font-family: "Inter-Tight";
}
select.A_Form {
  padding-right: 2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("icons/Q_IconArrowDown.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right 1rem center;

  &:focus {
    outline: 1px solid var(--colors-light-400);
  }
}

/* Tabs */
.A_Tab {
  width: 160px;
  min-width: 116px;
  height: 48px;
  font-family: "Kommuna-regular";
  display: flex;
  color: var(--colors-neutral-400);
  outline: none;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  cursor: pointer;

  &:hover {
    color: var(--colors-neutral-600);
  }

  &.active {
    border-bottom: 1px solid var(--colors-neutral-900);
    color: var(--colors-neutral-900);
    font-weight: 600;
  }
}
.tab-pane {
  display: none;

  &.active {
    display: block;
  }
}

/* DropDown */
.A_SortButton {
  height: 1.5rem;
  border: none;
  cursor: pointer;
  font-family: "Kommuna-regular";
  font-size: 1rem;
  color: var(--colors-neutral-400);
  background: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s;
}
.selected-value {
  color: var(--colors-neutral-900);

  .Q_IconVisability {
    width: 2rem;
    height: 2rem;
    background-size: contain;
    background-image: url("icons/filter.svg");
    display: none;

    &.ascending {
      background-image: url("icons/sorting.svg");
      display: none;
    }
  }
}

.A_DropdownItem {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 8px 12px;
  text-decoration: none;
  color: #212529;
  transition: background 0.2s;
}

.A_DropdownItem:hover {
  background: var(--colors-light-200);
}

.A_DropdownItem.active {
  background-image: url("icons/Q_Check.svg");
  background-repeat: no-repeat;
  background-position: 94%;
}

.A_FiltersDropdown {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  user-select: none;
}

/* -------------------------- */

[data-dropdown-target="content"] {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 160px;
  z-index: 1001;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  display: none;

  &.right {
    left: auto;
    right: 0;
  }
}

.A_DropdownItem {
  display: block;
  padding: 1rem;
  width: 15rem;
  padding: 12px 16px;
  text-decoration: none;
  background-color: var(--colors-light-200);
  color: var(--colors-neutral-900);

  &:hover {
    background-color: var(--colors-light-300);
  }
}
button.A_DropdownItem {
  border: none;
  font-family: "Kommuna-regular";
  font-size: 1rem;
  display: flex;
}
/* FORM SIGN IN REG */
.A_NoContent {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--colors-neutral-300);
  border: 1px solid var(--colors-neutral-100);
  border-radius: 0.5rem;
}
.A_Toggle {
  background-color: var(--colors-light-200);
  color: var(--colors-neutral-600);
  border-radius: 500rem;
  border: none;
  outline: none;
  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
    color: var(--colors-neutral-300);
  }
}
