.C_ProfilesArtists {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: var(--width-container);
  margin: 0 auto;

  .O_Profile {
    grid-column: span 9;
  }
}
.C_Tags {
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  position: relative;

  .A_Tag {
    border: 1px solid var(--almost-black);
    padding: 4px;
    color: var(--almost-black);
    text-decoration: none;
    font-size: 13px;
    border-radius: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
      color: var(--pure-white);
      background-color: var(--almost-black);
    }
  }
}

.Navigation {
  margin-bottom: 1rem;
}

.C_AllPosts {
  display: flex;
  max-width: 1620px;
  padding: clamp(2rem, 6vw, 6rem);
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: clamp(2rem, 8vw, 10rem);
  align-items: flex-end;
  max-width: 1620px;
  margin: 0 auto;

  .FillGrid {
    grid-column: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}

.C_Collections {
  gap: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: var(--max-desktop);
  padding: var(--calc-padding);

  p {
    grid-column: span 6;
  }
  .FillGrid {
    grid-column: span 6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
}

.S_FiltersPosts {
  .C_Categoires {
    margin-bottom: 0.5rem;
    .A_Tag {
      border: none;
      padding: 0;
      font-size: 1.5rem;

      &:hover {
        background-color: inherit;
        color: var(--almost-dark);
        text-decoration: underline;
      }
    }
  }
}
.C_DataPost {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .A_DataColumn {
    display: flex;
    flex-direction: column;

    p {
      display: inline-block;
      min-width: 110px;
    }
  }
}

.C_Displays {
  display: flex;
  width: var(--width-container);
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 3rem;

  .O_Display {
    grid-column: span 1;
  }
}
.C_ProfileWorks {
  gap: 0.5rem;
  display: flex;
  .A_PostLink {
    text-decoration: none;

    .Q_ProfilePostImage {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
      border-radius: 0.2rem;
    }
  }
}
/* Comments */

.C_Comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* Header */
.С_LinksNavigation {
  display: flex;
  max-width: var(--max-desktop);
  margin: 0 auto;
  .A_MenuLinkGIant {
    flex: 1;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--colors-neutral-400);
    text-decoration: none;
    color: var(--colors-neutral-400);
    background-color: var(--light-colors-100);
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    margin-left: -1px;

    &:hover {
      background-color: var(--sun-yellow);
      border-radius: 600rem;
    }
  }
}
/* Profile */
/* Общие стили для блоков в профиле */
