.L_CollectionShow {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  max-width: var(--max-desktop);
  padding: 0 var(--calc-padding) 0;
  margin: 0 auto;
  margin-top: 3rem;
}
.L_Profile {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 var(--calc-padding) 0;
  max-width: var(--max-desktop);
  margin: 0 auto;
}
.L_Artists {
  max-width: var(--max-desktop);
  padding: 0 var(--calc-padding) 0;
  margin: 0 auto;
}
.L_Posts {
  max-width: var(--max-desktop);
  padding: 0 var(--calc-padding) 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.L_Home {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.L_Form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  max-width: 560px;
  margin: 0 auto;

  .M_FormLabel {
    width: 100%;
  }
}
.L_Post {
  max-width: var(--max-desktop);
  padding: 0 var(--calc-padding);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
