.O_Profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
  }
}
.O_AboutArtis {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 850px;
  width: 100%;

  .W_Rows {
    display: flex;
    justify-content: space-between;
  }
}

.O_ArtistHead {
  display: flex;
  gap: 1.5rem;
}

/* Posts */
.O_Post {
  flex: 1 1 calc(25% - 1.5rem);
  max-width: calc(25% - 1rem);
  height: fit-content;
  border-radius: 0.5rem;
  text-decoration: none;
  position: relative;
  color: var(--almost-black);

  .A_PostLink {
    display: inline-block;
    position: absolute;
  }

  .M_SubText {
    line-height: 140%;
    .A_PostTitleLink {
      h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
/* PostsShow */
.O_NameSwitcher {
  width: 100%;
  gap: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .W_ArrowContainer {
    display: flex;
    padding: 0 1rem;
    flex: 1;
  }
  .W_ArrowContainer.right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.O_PostInformation {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}
.O_ImageSliderBody {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 4.5rem);
}

.O_CollectionDescription {
  width: 100%;
  height: fit-content;
  background-color: var(--cream-white);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem 2rem 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  row-gap: 1rem;

  .A_CollectionHeading {
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 4.5rem;
  }

  .A_CollectionDescription {
    grid-column: 2/5;
    grid-row: 2/3;
    font-size: 1.2rem;
    width: 70%;
  }

  .A_ObjectsInside {
    font-size: 1rem;
    line-height: 140%;
    font-weight: 500;
    display: inline-block;
    grid-column: 1/2;
    grid-row: 1/2;

    margin: auto 0;
  }
}
.O_CollectionInfo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  text-align: justify;
  flex: 2;

  .C_Tags {
    justify-content: center;
    width: 90%;
  }
}

.ivisable-obj {
  display: none;
}

.O_CollectionObject {
  display: flex;
  gap: 1.5rem;

  .M_InfoRow {
    flex: 1;
  }

  .M_ImagePostDate {
    flex: 1.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .W_ObjectLook {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 0 1.5rem;
    color: var(--colors-neutral-900);

    a {
      color: var(--colors-neutral-900);
    }

    .M_ObjectInfo {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p.footnote.hidden {
        display: none;
      }
    }
  }
}

.O_Collection {
  cursor: pointer;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--colors-light-300);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;

  .M_CollectionDescription {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 100%;
  }

  .M_CollectionDescriptionShow {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .M_SubText {
      a {
        text-decoration: none;

        h3 {
          line-height: 120%;
        }
      }
    }
  }
}
/* CollectionForm */
.O_SearchPostForm {
  transition: all 0.3s ease;
  background: var(--colors-light-50);
  z-index: 1;
  border-radius: 0.5rem;
  width: 100%;
  flex-direction: column;
  border: 1px solid var(--input-form-border);
  padding: 1.3rem;
  gap: 12px;
  min-height: 200px;
  justify-content: center;
  margin-top: 1rem;
  gap: 1.4rem;
}
/* CollectionShow */

.O_PostActionMenu {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  align-items: center;
}

.O_FilterTopBar {
  display: flex;
  justify-content: space-between;
}
.O_FilterCategoryTags {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  transition: all 0.3s ease;
  max-height: 0;
  opacity: 0;
  gap: 1.5rem;

  &.expanded {
    margin-top: 2rem;
    max-height: 500px;
    opacity: 1;
  }
}
/* Display */
.O_Display {
  display: flex;
  flex-direction: column;
  background-color: var(--pure-white);
  border-radius: 4px;
  padding: 1rem;
  gap: 1.5rem;

  .W_NameDisplay {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
  }
}
.O_TabContent {
  width: 100%;
}
.O_DescriptionTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

/* Comments */
.O_CommentForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: var(--colors-light-100);
  padding: 1rem 1.5rem;
  gap: 1rem;
  border-radius: 0.5rem;

  .M_CommentEdit {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;

    .A_TextArea {
      border: 1px solid var(--colors-neutral-200);
    }

    label.caption {
      color: var(--colors-neutral-600);
    }
  }

  &.down {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
.O_Comment {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem 0rem;

  .W_CommentProfileBody {
    display: flex;
    gap: 0.8rem;

    .M_SubText {
      gap: 0.5rem;
      width: 100%;

      p:first-child {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}
/* Form sing-in sign up */

.O_AuthForm {
  max-width: 560px;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2.5rem;
  border-radius: 2rem;
  background: var(--colors-light-100);
  a {
    color: var(--colors-neutral-900);
    text-align: center;
  }

  .M_SubText {
    text-align: center;
  }

  .new_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .M_FormLabel {
      width: 100%;
    }
  }
  &.step {
    min-height: 230px;
  }
}
.O_PageCover {
  width: 100%;
  padding: clamp(2rem, 5.417vw, 6rem) var(--calc-padding);
  max-width: var(--max-desktop);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;

  .W_SectionInfoBackground {
    aspect-ratio: 1/1;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;

    .W_SectionInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5rem;
      gap: 1.5rem;

      h4 {
        width: 320px;
      }
    }

    .A_RateCountCircle {
      width: 7rem;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--colors-shade-green);
      border-radius: 200rem;

      .M_InfoRow {
        gap: 0;
      }
    }
  }

  .M_SectionSwitcher {
    display: flex;
    height: 3rem;
    width: 10rem;
    text-decoration: none;
    color: var(--colors-neutral-600);
    gap: 1.2rem;
    align-items: center;

    &:hover {
      opacity: 75%;
      cursor: pointer;
    }

    &.right {
      align-items: flex-end;
    }
    &.left {
      align-items: flex-start;
    }
  }
}
.O_ProfileForm {
  width: 100%;
  .M_LabelForm {
    width: 100%;
  }

  .W_Forms {
    width: 100%;
  }
}
.O_DisplaysAdded {
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border: 1px solid var(--colors-neutral-100);
  border-radius: 0.5rem;
  margin: 0 auto;

  .C_AddedDisplays {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    .M_Display {
      width: 100%;
      max-width: none;
    }
  }
}

.O_FormBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  .W_Forms {
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: 1px solid var(--colors-neutral-50);
  }
}
.O_CollectionForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

  .A_Button {
    min-width: 174px;
  }
}
