.Q_Arrow {
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("icons/Q_IconArrowDown.svg");
}

.O_HeaderMenu {
}
.Q_SharpPoint {
  background-image: url("/assets/sharp_points/sharpWhite.svg");
  position: absolute;
  width: 252px;
  height: 22px;
  background-size: cover;
  bottom: -22px;
  left: 0;

  &:nth-child(2) {
    left: var(--sharp);
  }
}
.Q_SharpBodyColor {
  background-image: url("/assets/sharp_points/Q_SharpBody.svg");
}
.Q_SharpYellowColor {
  background-image: url("/assets/sharp_points/Q_SharpYellow.svg");
}

.Q_ShowPostImage {
  width: 60%;
  border-radius: 0.2rem;
}
.default {
  clip-path: none;
}
.Q_PostWrapper {
  width: 100%;

  .Q_PostImage {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 4px;
  }
}
/* Buttons */
.Q_ActionButtonBlack {
  background-image: url("/assets/buttons/A_ActionButtonBlack.svg");

  a {
    color: var(--pure-white);
  }
}
/* Headings */

.Q_CollectionWorks {
  background-image: url("/assets/shapes_heading/collections_cover.svg");
}

/* ButtonsForm */
.Q_ActionButtonSharp {
  background-image: url("/assets/buttons/A_ActionButtonSharp.svg");
}
/* ProfileAvatar */
.Q_ProfileImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 600rem;
}
