.W_ProfileBio {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  .M_SubText {
    width: 240px;
  }

  .A_CategoryData {
    display: inline-block;
  }
}
.W_ProfileBioStats {
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  a {
    text-decoration: none;
  }
}
.W_StatsMetrics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

.W_ArtitsFilter {
  display: flex;
  justify-content: space-between;
}

/* Collection */
.W_CollectionIndexAbout {
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}
.W_CollectionGridAbout {
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
}
.W_PostInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;

  p.caption {
    color: var(--colors-neutral-600);
  }
}

.W_Post {
  max-width: var(--max-desktop);
  padding: var(--calc-padding);
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .M_PostOtherData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .A_ImageContainer {
    width: 100%;
    height: 488px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--almost-black);
    overflow: hidden;
  }

  .O_Display {
    grid-column: 8/10;
  }
}
/* PostShow */
.W_PostShowHead {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.W_TitleTags {
  margin-bottom: 1rem;
}
.W_EditButtonsProfile {
  padding: 3rem 0;
}
.W_TypesOfContent {
  padding: 1rem 0;
  display: flex;
  justify-content: center;

  .A_TypeOfContent {
    font-family: "Kommuna";
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    color: var(--almost-dark);
    padding: 0.5rem 2rem;
    min-width: 200px;
    text-align: center;
    display: inline-block;
    transition: transform 0.3s ease;

    &:nth-child(1) {
      border-right: 2px solid var(--almost-black);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
.W_TypesOfContent.ProfileMenu {
  width: var(--width-container);
  margin: 0 auto;
  .A_TypeOfContent:nth-child(1) {
    border-right: none;
  }

  .A_TypeOfContent:nth-child(2),
  .A_TypeOfContent:nth-child(3) {
    margin-left: -1px;
  }
  .A_TypeOfContent {
    border: 1px solid var(--almost-black);
    width: 33.3%;
  }
}
.W_RateWorks {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.W_AllInfoProfile {
  display: flex;
  align-items: flex-end;
  gap: 2rem;

  .M_ProfileHead {
    min-width: 240px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .M_Subtext {
      gap: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
}
.W_Media {
  img {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.W_BestCounting {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.W_CollectionHead {
  display: flex;
  flex-direction: column;
  align-items: center;

  .M_SubText {
    width: 45%;
    align-items: center;
    text-align: center;
  }
}
.W_Actions {
  width: var(--width-container);
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 1rem auto 0 auto;
}

.W_OptionalForms,
.W_FirstForms {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.W_SortingFilters {
  display: flex;
  justify-content: space-between;
  max-width: 620px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
