.L_HomePage {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.S_MainCover {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: var(--lyons-blue);
  width: 96%;
  margin: 0 auto;
  border-radius: 0 0 2rem 2rem;
  padding: 5rem 3rem 4rem 3rem;
  align-items: flex-end;

  .W_MainCover {
    width: var(--width-container);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-end;
    gap: 1rem;

    .Q_FirstScreenCover {
      width: 100%;
      border-radius: 2rem;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: 2rem;
      }
    }

    h1,
    p {
      color: var(--sand-yellow);
    }

    .W_ExhibitionSwitch {
      .M_ExhibitionTitle {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }

    .W_ExhibitionDataDescription {
      display: flex;
      justify-content: space-between;

      .W_ExhibInfo {
        display: flex;
        gap: 3rem;

        .M_SubText {
          gap: 0rem;
        }
      }
      .A_ExhibText {
        width: 450px;
      }
    }
  }
}
.M_HeadingHome {
  width: 90%;
  height: 116px;
  background-color: var(--lyons-blue);
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 2rem;

  .A_FormHeading {
    width: var(--width-container);
    height: 4rem;
    background-size: cover;
    margin: 0 auto;
    padding: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2rem;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
  }
}
.Q_CornerCut {
  background-image: url("/assets/home/corner_cut_body.svg");
  width: 162px;
  height: 52px;
  position: absolute;
  background-size: cover;
  bottom: 0;
}

.S_MainNewArtworks {
  display: flex;
  flex-direction: column;
  width: 96%;
  margin: 0 auto;
  background-color: var(--sand-yellow);
  border-radius: 2rem;
  padding: 0rem 0rem 4rem 0rem;
  gap: 3rem;
  position: relative;

  .Q_CornerCut:nth-child(2) {
    right: 0;
    transform: scaleX(-1);
  }

  .M_HeadingHome {
    width: 100%;
  }

  .C_AllPosts {
    grid-template-columns: repeat(8, 1fr);
    width: var(--width-container);
    .O_Post {
      grid-column: span 2;
      padding: 0.6rem 0.6rem 1rem 0.6rem;

      .A_PostCategory {
        font-size: 13px;
        margin: 0.5rem 0 0.2rem;
        color: var(--ash-grey);
      }

      .M_SubText {
        gap: 0;

        p {
          font-size: 12px;
        }
      }

      h3 {
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .Q_PostWrapper {
        height: 200px;
      }
    }
  }
}

.A_PostRate {
  width: 60px;
  height: 60px;
  border-radius: 200rem;
  border: 1px solid var(--almost-black);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  p {
    font-size: 2rem;
    font-family: "Kommuna";
  }
}

.S_BestWorksHome {
  .C_AllPosts {
    grid-template-columns: repeat(12, 1fr);
    margin-top: 10rem;

    .O_Post {
      h3 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .O_Post:nth-child(1) {
      background-color: var(--lyons-blue);
      color: var(--sand-yellow);
      grid-column: span 4;
      position: relative;
      height: 342px;
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      .Q_PostWrapper {
        position: absolute;
        left: 5%;
        height: 266px;
        width: 330px;
        top: -40%;
      }
      .C_Tags {
        .A_Tag {
          color: var(--sand-yellow);
          border: 0.2px solid var(--sand-yellow);
          font-weight: 400;
        }
      }
      .A_PostRate {
        border: 1px solid var(--sand-yellow);
      }
    }
    .O_Post:nth-child(2) {
      background-color: var(--sun-yellow);
      color: var(--almost-black);
      grid-column: span 4;
      position: relative;
      height: 374px;
      margin-top: auto;
      display: flex;
      justify-content: flex-end;

      flex-direction: column;
      .Q_PostWrapper {
        position: absolute;
        left: 5%;
        height: 266px;
        width: 330px;
        top: -35%;
      }
    }
    .O_Post:nth-child(3) {
      background-color: var(--diamine-green);
      color: var(--sand-yellow);
      grid-column: span 4;
      position: relative;
      height: 310px;
      margin-top: auto;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      .Q_PostWrapper {
        position: absolute;
        left: 5%;
        height: 266px;
        width: 330px;
        top: -58%;
      }
      .C_Tags {
        .A_Tag {
          color: var(--sand-yellow);
          border: 0.2px solid var(--sand-yellow);
          font-weight: 400;
        }
      }
      .A_PostRate {
        border: 1px solid var(--sand-yellow);
      }
    }

    .O_Post:nth-last-child(-n + 4) {
      grid-column: span 3;
      padding: 0.5rem;

      .C_Tags {
        display: none;
      }

      .A_PostCategory {
        font-size: 13px;
        margin: 0.5rem 0 0.2rem;
        color: var(--ash-grey);
      }

      .M_SubText {
        gap: 0;

        p {
          font-size: 12px;
        }
      }

      h3 {
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .Q_PostWrapper {
        height: 205px;
      }
    }
  }
}

.S_Banner {
  width: 90%;
  margin: 0 auto;
  background-color: var(--pink);
  border-radius: 2rem;
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
  .W_BannerContent {
    width: var(--width-container);
    margin: 0 auto;

    .O_TitleAction {
      background: url("/assets/home/banner_bg.svg");
      background-size: cover;
      height: 360px;
      background-position: left;
      padding: 2rem 4rem;
      height: 360px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .M_SubText {
        width: 43%;
        color: var(--pure-white);
      }
    }
  }

  .Q_BannerImage {
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: 1240px) {
      width: 50%;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.C_ProfilesArtists.Home {
  gap: 1rem;
  @media (max-width: 1240px) {
    grid-template-columns: repeat(4, 1fr);
  }

  .O_Profile {
    grid-column: span 1;
    border: none;
    background: var(--pure-white);
    padding: 1rem;

    @media (max-width: 1240px) {
      grid-column: span 2;
    }

    .M_ProfileBio {
      gap: 2rem;
      width: 100%;

      .M_ProfileStats {
        width: 100%;
      }
    }

    .W_ProfileBioStats {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 1.5rem;

      .W_StatsMetrics {
        width: 100%;
      }
    }
    .M_ProfileHead {
      display: flex;
      justify-content: space-between;
    }

    .M_SubText {
      width: 100%;
      p {
        font-size: 12px;
        height: 34px;
      }
    }
  }
}

.Q_PatternSharpGreen {
  background-image: url("/assets/home/Q_HeadingPatternSharpGreen.svg");
}
.Q_PatternSand {
  background-image: url("/assets/home/Q_HeadingPattern.svg");
}
.Q_PatternSandSharp {
  background-image: url("/assets/home/Q_HeadingPatternSharpSand.svg");
}
