.test {
  aspect-ratio: 3/4;
  width: 200px;
  background: red;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

[data-dropdown-target="content"] {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 160px;
  z-index: 1001;
  display: none;
  border-radius: 4px;
  overflow: hidden;
}

[data-dropdown-target="content"] a {
  display: block;
  padding: 1rem;
  width: 15rem;
  padding: 12px 16px;
  text-decoration: none;
  background-color: var(--colors-light-300);
  color: var(--colors-neutral-900);
}

[data-dropdown-target="content"] a:hover {
  background-color: var(--colors-light-400);
}

/* ---------------------- */
