.test {
  aspect-ratio: 3/4;
  width: 100%;
  height: 1920px;

  p.medium {
    font-size: 6rem;
    font-weight: 500;
    font-family: "Inter-Tight";
  }
  p.regular {
    font-size: 6rem;
    font-weight: 400;
    font-family: "Inter-Tight";
  }
}

.M_MainAnnounce {
  display: flex;
  align-items: center;
  justify-content: center;
}

.W_AnnounceText {
  display: flex;
  width: 100%;
  height: 240px;
  max-width: var(--max-desktop);
  margin: 0 auto;
  gap: 3rem;
  padding: 0 var(--calc-padding) 0;
  align-items: center;
  background-image: url("clip_images/Union.png");

  p {
    max-width: 240px;
  }

  p,
  .Q_QrCode {
    flex: 1;
  }
  h1 {
    text-align: center;
    flex: 2;
  }
}

.M_Ticker {
  overflow: hidden;
  width: 100%;
  background: var(--colors-light-200);
  padding: 1rem 0;
  display: flex;
  height: 64px;

  .A_TickerContent {
    display: flex;
    flex-shrink: 0;
    animation: marquee 40s linear infinite;
    color: var(--colors-neutral-600);
  }

  .A_TickerItem {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
    margin-right: 1rem;

    p.Caption {
      font-size: 14px;
      font-family: "Geist";
      text-transform: uppercase;
    }
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ---------------------- */
.A_UploadButton {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--colors-light-300);
  border-radius: 600rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;

  font-size: 13px;
  line-height: 130%;
  overflow: hidden;

  .hidden-input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s;

    &.has-image {
      opacity: 1;
    }
  }

  .replace-btn {
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: none;

    &:hover {
      background: #f0f0f0;
    }
  }
}

.M_MainAnnounce {
  width: 100%;
  background-color: var(--colors-shade-blue);
  height: 300px;
}

.S_MainWeekWorks {
  width: 100%;
  background-color: var(--colors-shade-pink);
  display: flex;
  gap: 2rem;
  padding: 8rem var(--calc-padding) 8rem;
  min-height: 200px;
  flex-direction: column;

  .W_WeekAboutTop {
    padding: 0 var(--calc-padding) 0;
    max-width: var(--max-desktop);
    margin: 0 auto;
    display: flex;
    width: 100%;
    gap: 1.5rem;

    .O_MainWeekPost {
      flex: 1 calc(50% - 1.5rem);
      flex-shrink: 0;
    }

    .W_WeekAboutLeft {
      display: flex;
      flex-wrap: wrap;
      flex: 1 calc(50% - 1.5rem);
      flex-shrink: 1;

      .O_MainWeekPost {
        flex: 1;
        width: calc(50% - 1.5rem);
      }
    }
  }
  .W_MainWeekPostsBottom {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    padding: 0 var(--calc-padding) 0;
    max-width: var(--max-desktop);
    margin: 0 auto;

    .O_MainWeekPost:first-child {
      flex: 1.5;
    }
    .O_MainWeekPost:nth-child(2) {
      aspect-ratio: 1/1;
      flex: 1;
    }
    .O_MainWeekPost:nth-child(3) {
      flex: 1.5;
    }
  }
}

.Q_PostGridImage {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.O_MainWeekPost {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  height: fit-content;

  .like-container:hover {
    background-color: inherit;
  }

  h4 {
    max-width: 280px;
    height: 3rem;
    width: 100%;
    overflow-y: hidden;
  }

  .M_ObjectAuthorLikes {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;

    .M_AuthorLikes {
      min-width: 120px;
      display: flex;
      flex-direction: column;
      text-align: right;
      gap: 0;

      .like-container {
        justify-content: flex-end;
        padding: 0;
      }
    }
  }
}

.W_TwoWeekPosts {
  display: flex;
  flex: 1;
  gap: 1.5rem;
}

.W_WeekAboutLeft {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.O_WeekWorksInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;

  .M_HeadingDates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    h2 {
      min-width: 120px;
    }
  }

  .M_DescriptionTransit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    p {
      max-width: 390px;
    }
  }
}
.A_NextArrow {
  display: flex;
  text-decoration: none;
  width: 8rem;
  height: 30px;
  color: var(--colors-neutral-800);
  gap: 0.5rem;
  align-items: center;
  border-bottom: 1px solid var(--colors-neutral-800);

  p {
    text-decoration: none;
  }
}
/* -------------------- */
.S_MainNewPosts {
  max-width: var(--max-desktop);
  padding: var(--calc-padding) var(--calc-padding) 10rem;
  width: 100%;
  gap: 5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.W_NewPostsInfoSlider {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  border-bottom: 1px solid var(--colors-neutral-300);
  align-items: center;
  gap: 1.5rem;

  p.Caption,
  .M_NewPostsSlider {
    flex: 1;
  }

  h1.hero {
    text-align: center;
    flex: 2;
  }

  .M_NewPostsSlider {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
}
.A_GalerySlider {
  width: 4.5rem;
  height: 3rem;
  border-radius: 600rem;
  background-color: var(--brand-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}
.C_MainNewPosts {
  display: flex;
  gap: 1.5rem;
  width: 100%;

  .O_MainNewPost {
    flex: 1;
    display: flex;
    background-color: var(--colors-light-200);
    border-radius: 2px;
    overflow: hidden;
    flex-direction: column;
    width: calc(27.5% - 1.5rem);
    max-width: calc(27.5% - 1.5rem);

    .W_NewWorkInfo {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 12px;
      padding: 1.5rem;

      h4 {
        height: 56px;
      }
    }
  }
}
.S_MainPageAuthors {
  display: flex;
  flex-direction: column;
  background-color: var(--colors-shade-blue);
  width: 100%;

  .W_Authors {
    width: 100%;
    max-width: var(--max-desktop);
    padding: var(--calc-padding) var(--calc-padding) 15rem;
    margin: 0 auto;
  }

  .M_HeadingTransit {
    display: flex;
    gap: 10rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
.O_AuthorsWorks {
  display: flex;
  justify-content: space-between;
  padding: clamp(3rem, 5vw, 5rem) 0;
  border-bottom: 1px solid var(--colors-neutral-600);
  align-items: center;
  color: var(--colors-neutral-900);
  text-decoration: none;

  .W_WorksCounter {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .W_WorksCounter {
    }

    .Q_PostGridImage {
      flex: 1;
      max-width: 7rem;
      aspect-ratio: 1/1;
      border-radius: 600rem;
      overflow: hidden;
      border-radius: 2px;
    }
  }
}
.A_Counter {
  aspect-ratio: 1/1;
  max-width: 6rem;
  background-color: var();
}
