@media all and (max-width: 1440px) {
}

@media all and (max-width: 1240px) {
  .S_Header {
  }

  .C_Tags {
    .A_Tag {
      font-size: 11px;
    }
  }
}
@media all and (max-width: 1024px) {
  .S_Header {
    .W_UserOptions {
      .A_Button.medium {
        background-color: var(--brand-yellow);
        width: 48px;
        height: 48px;
        border-radius: 600px;
        p.caption {
          display: none;
        }
        &:before {
          content: "+";
          font-size: 24px;
        }
      }
      .M_UserHead {
        padding: 0;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        p {
          display: none;
        }
      }
    }
  }

  /* Posts */
  .C_AllPosts {
    .O_Post {
      flex: 1 1 calc(33.3% - 1.5rem);
      max-width: calc(33.3% - 1rem);
    }
  }
}

/* ProfileIndex */

/* ProfileShow */

@media all and (max-width: 768px) {
  .C_AllPosts {
    flex-direction: column;
    .O_Post {
      flex: 1 1 calc(50% - 1.5rem);
      max-width: calc(50% - 1rem);
    }
  }

  .W_Post {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .Q_ShowPostImage {
      grid-column: 1 / 7;
      width: 85%;
      margin: 0 auto;
      grid-row: 1/2;
      height: 410px;
      object-fit: cover;
    }
    .S_Post {
      grid-column: 1/7;
      grid-row: 2/3;
      padding: 0;
    }
    .S_Comments {
      margin-top: 0;
    }
  }
  .C_Collections {
    .O_Collection {
      grid-column: span 6;
    }
  }
}
