@media all and (max-width: 1440px) {
}

@media all and (max-width: 1240px) {
  .S_Header {
  }

  footer.S_Footer {
    .W_LogoCategories {
      .A_FooterLogo {
        height: 64px;
        width: 245px;
      }

      .C_FooterCategories {
        max-width: 640px;
        .footer-link {
          font-family: "Kommuna-regular";
          font-size: 20px;
        }
      }
    }
    .W_FormTeams {
      .W_FooterInfo {
        max-width: 640px;
      }
    }
  }
}
@media all and (max-width: 1024px) {
  .S_Header {
    .W_UserOptions {
      .A_Button.medium {
        background-color: var(--brand-yellow);
        width: 48px;
        height: 48px;
        border-radius: 600px;
        p.caption {
          display: none;
        }
        &:before {
          content: "+";
          font-size: 24px;
        }
      }
      .M_UserHead {
        padding: 0;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        p {
          display: none;
        }
      }
    }
  }

  /* Posts */
  .C_AllPosts {
    .O_Post {
      flex: 1 1 calc(33.3% - 1.5rem);
      max-width: calc(33.3% - 1rem);
    }
  }

  footer.S_Footer {
    .W_LogoCategories {
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      .C_FooterCategories {
        flex-direction: column;
        max-width: none;
        gap: 0;

        .footer-link {
          height: 52px;
          border-bottom: 1px solid var(--colors-neutral-300);
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .W_FormTeams {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .W_FooterFormSign {
        max-width: none;
        width: 100%;
        align-items: center;

        .M_FooterForm {
          justify-content: center;
        }
      }

      .W_FooterInfo {
        .C_FooterTeams {
          display: none;
        }

        p.hse {
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .W_SortingFilters {
    gap: 1rem;
    .M_DropDown {
      .A_SortButton {
        span.sort-text {
          display: none;
        }
      }
    }
  }
}

/* ProfileIndex */

/* ProfileShow */

@media all and (max-width: 768px) {
  .C_AllPosts {
    .O_Post {
      flex: 1 1 calc(51% - 1.5rem);
      max-width: calc(51% - 1.5rem);

      .Q_PostImageLink {
        order: 2;
      }
      .W_PostInfo {
        order: 1;
      }
    }
  }

  .W_Post {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .Q_ShowPostImage {
      grid-column: 1 / 7;
      width: 85%;
      margin: 0 auto;
      grid-row: 1/2;
      height: 410px;
      object-fit: cover;
    }
    .S_Post {
      grid-column: 1/7;
      grid-row: 2/3;
      padding: 0;
    }
    .S_Comments {
      margin-top: 0;
    }
  }
  .C_Collections {
    .O_Collection {
      grid-column: span 6;
    }
  }

  header.S_Header {
    .O_HeaderMenu {
      flex-wrap: wrap;

      .M_LogoDescription {
        order: 1;
        flex: none;
        width: calc(50% - 1.5rem);
      }

      .W_SearchMenu {
        width: 100%;
        order: 3;
        flex: 1;

        .search-head {
          width: 100%;
        }

        .M_MenuSearch {
          max-width: 100%;
          width: 100%;
        }
      }

      .W_UserOptions {
        order: 2;
        flex: none;
        width: calc(50% - 1.5rem);
      }
    }
  }

  .C_Tabs {
    width: 100%;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
