@media all and (max-width: 1440px) {
  .S_MainWeekWorks {
    .W_WeekAboutTop {
      .W_WeekAboutLeft {
        .O_WeekWorksInfo {
          gap: 1rem;

          .M_HeadingDates {
            gap: 1rem;

            h2 {
              font-family: "Kommuna-regular";
              font-size: 1.5rem;
              max-width: none;
            }
          }
        }

        .W_TwoWeekPosts {
          flex: auto;
          margin-bottom: 0;
          width: 100%;
        }
      }
    }

    .W_MainWeekPostsBottom {
      .O_MainWeekPost {
        flex: 1 1 calc(33.3% - 1rem);
        max-width: calc(33.3% - 1rem);
      }
    }
  }

  .W_CollectionGridAbout {
    width: 638px;
  }

  .W_CollectionPart {
    flex-direction: column;
    flex: 2;

    .M_ImagePostDate {
      margin-bottom: clamp(1rem, 1.5vw, 2rem);
      p.footnote-2 {
        margin-right: auto;
      }
    }
  }

  .ivisable-obj {
    flex: 1;
    display: block;
  }

  .O_CollectionObject {
    .W_ObjectLook {
      padding: 0;
    }
  }
}

@media all and (max-width: 1240px) {
  .S_MainWeekWorks {
    .W_WeekAboutTop {
      flex-direction: column;
      padding: 0;
    }
  }

  .S_MainPageAuthors {
    .W_WorksCounter {
      max-width: 500px;
    }
  }

  /* ModalMenu */
  .W_NavigationBottom {
    flex-direction: column;

    .C_CategoresLinks {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1128px;
      border-right: 0;

      .A_MenuLinkSmall {
        min-height: 48px;
        min-width: 33%;
        border-right: 1px solid var(--colors-neutral-300);
      }
    }

    .A_MenuLinkGIant {
      /* max-width: 31%; */
      margin-top: -1px;
    }
  }

  .W_CollectionGridAbout {
    width: 580px;
  }

  footer.S_Footer {
    .W_LogoCategories {
      .A_FooterLogo {
        height: 64px;
        width: 245px;
      }

      .C_FooterCategories {
        max-width: 640px;
        .footer-link {
          font-family: "Kommuna-regular";
          font-size: 20px;
        }
      }
    }
    .W_FormTeams {
      .W_FooterInfo {
        max-width: 640px;
      }
    }
  }
}
@media all and (max-width: 1024px) {
  .heading-flex {
    max-width: 612px;
    margin: 0 auto 1.5rem;

    .empty:first-child {
      display: none;
    }
  }

  .S_MainPageAuthors {
    .W_WorksCounter {
      max-width: 400px;
    }
  }

  .S_MainWeekWorks {
    .W_WeekAboutTop {
      flex-direction: column;
    }

    .W_MainWeekPostsBottom {
      flex-wrap: wrap;
      padding: 0;

      .O_MainWeekPost {
        &:nth-child(1),
        &:nth-child(2) {
          flex: 1 1 calc(50% - 1rem);
          max-width: calc(51.3% - 1rem);
        }

        &:nth-child(3) {
          flex: 1 100%;
          min-width: 100%;
        }
      }
    }
  }

  .W_NewPostsInfoSlider {
    p.Caption {
      display: none;
    }
    h1.hero {
      text-align: left;
    }
  }

  .S_MainNewPosts {
    .C_MainNewPosts {
      .O_MainNewPost {
        flex: 1 1 calc(33.3% - 1rem);
        max-width: calc(33.3% - 1rem);
        &:nth-child(4) {
          display: none;
        }
        .W_NewWorkInfo {
          h4.subtitle {
            /* text-overflow: ellipsis; */
            /* white-space: nowrap; */
            width: 100%;
            overflow-y: hidden;
            height: 48px;
          }
        }
      }
    }
  }

  .S_Header {
    .W_UserOptions {
      .A_Button.medium {
        background-color: var(--brand-yellow);
        width: 48px;
        height: 48px;
        min-width: auto;
        border-radius: 600px;
        p.caption {
          display: none;
        }
        &:before {
          content: "+";
          font-size: 24px;
        }
      }
      .M_UserHead {
        padding: 0;
        width: 48px;
        height: 48px;
        justify-content: center;
        align-items: center;
        p {
          display: none;
        }
      }
      [data-dropdown-target="content"] {
        transform: translateX(-30%);
        right: 0;
      }
    }
  }

  .O_CollectionInfo {
    flex: 6;
  }

  .O_CollectionObject {
    .M_InfoRow {
      display: none;
    }

    .W_ObjectLook {
      .M_ObjectInfo {
        p.footnote.hidden {
          display: block;
        }
      }
    }
  }

  .C_CollectionObjects {
    gap: 5rem;
  }

  .O_CollectionObject {
    max-width: 612px;
    flex-direction: column;
    margin: 0 auto;
    gap: 0.5rem;

    .M_InfoRow {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    .W_ObjectLook {
      padding: 0;
      margin-top: 1rem;
      gap: 1.5rem;

      .M_ObjectInfo {
        gap: 0.5rem;
      }
    }
  }

  /* PostShow */
  .M_TitleCreatorName {
    flex: 3;
  }

  .W_PostImageDescription {
    flex-direction: column;
    margin: 0 auto;

    .M_TypeDate {
      padding: 0;
      order: 3;

      .M_InfoRow {
        display: none;
      }
    }
    .O_ImageSliderBody {
      gap: 1rem;
    }

    .O_PostInformation {
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0;
      margin-top: 1rem;
      .M_InfoRow {
        width: calc(34% - 1rem);
      }
    }
  }

  .C_DisplaysSorted {
    margin: 0 auto;
    width: 100%;

    .O_Displays {
      flex-direction: column;
    }
  }

  .S_Comments,
  .C_DisplaysSorted,
  .W_PostImageDescription {
    max-width: 612px;
  }
  /* Posts */
  .C_AllPosts {
    width: 100%;
    .O_Post {
      flex: 1 1 calc(33.3% - 1.5rem);
      max-width: calc(33.3% - 1rem);
    }
  }

  footer.S_Footer {
    .W_LogoCategories {
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      .C_FooterCategories {
        flex-direction: column;
        max-width: none;
        gap: 0;

        .footer-link {
          height: 52px;
          border-bottom: 1px solid var(--colors-neutral-300);
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .W_FormTeams {
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;

      .W_FooterFormSign {
        max-width: none;
        width: 100%;
        align-items: center;

        .M_FooterForm {
          justify-content: center;
        }
      }

      .W_FooterInfo {
        .C_FooterTeams {
          display: none;
        }

        p.hse {
          text-align: center;
          width: 100%;
        }
      }
    }
  }

  .W_SortingFilters {
    gap: 1rem;
    justify-content: flex-start;
    .M_DropDown {
      .A_SortButton {
        span.sort-text {
          display: none;
        }
      }
    }
  }

  .O_PageCover {
    .W_SectionInfoBackground {
      width: 100%;
      height: 300px;
      background-color: transparent;

      .Q_BlockCover.left {
        display: none;
      }
      .Q_BlockCover.right {
        display: none;
      }
    }
    .M_SectionSwitcher:first-child {
      order: 2;
      flex: 1;
      h4 {
        display: none;
      }
    }
    .M_SectionSwitcher:last-child {
      order: 3;
      flex: 1;
      justify-content: flex-end;
      h4 {
        display: none;
      }
    }
  }

  .C_ProfilesArtists {
    row-gap: 2rem;
    .O_Profile {
      flex: 1;
      max-width: none;
      margin-bottom: 2rem;
    }
  }

  .O_Collection {
    flex-direction: column;
    gap: 1rem;

    .W_CollectionIndexAbout {
      width: 100%;
      .M_CollectionDescription {
        flex-direction: row;
        gap: 0.5rem;
        justify-content: space-between;

        .M_CollectionIndexDesc {
          width: 350px;
        }

        .C_Tags {
          margin-bottom: 0;
          align-items: flex-end;
        }
      }
    }

    .W_CollectionGridAbout {
      width: 100%;
      order: 2;
      max-width: none;
    }
  }
}

/* Dropdown */

/* ProfileIndex */

/* ProfileShow */

@media all and (max-width: 768px) {
  footer.S_Footer {
    .W_LogoCategories {
      gap: 1rem;
      .A_FooterLogo {
        min-width: auto;
      }

      .A_FooterLogo {
        width: 200px;

        img.A_FooterLogo {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .W_SectionInfo {
    h4 {
      width: 100%;
    }
  }

  .W_SectionInfoBackground {
    background: transparent;

    .W_SectionInfo {
      .Q_BlockCover.left {
        display: none;
      }
    }
  }

  .A_CreatorPost {
    padding: 0;
    gap: 0.5rem;
    color: var(--colors-neutral-600);
    .Q_ProfileImage {
      width: 28px;
      height: 28px;
    }
  }

  .O_ArtistHead {
    gap: 0.5rem;
  }

  .S_MainPageAuthors {
    .W_WorksCounter {
      max-width: none;
    }
  }

  .M_ArtistRatings {
    gap: 0.5rem;
  }

  .W_NewPostsInfoSlider {
    flex-direction: column;
    gap: clamp(0.5rem, 2vw, 1rem);
    padding-bottom: 2rem;
    height: auto;
    .M_NewPostsSlider {
      width: 100%;
      justify-content: space-between;
    }
  }

  .O_AuthorsWorks {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .W_NavigationFull {
    margin: 2vh auto 0;

    .W_NavigationBottom {
      font-size: 14px;

      .A_CloseMenu {
        display: none;
      }

      .C_CategoresLinks {
        .A_MenuLinkSmall {
          min-width: 50%;
          height: 7vh;
          max-height: 80px;
        }
      }

      .C_GiantLinks {
        flex-direction: column;

        .A_MenuLinkGIant {
          max-height: 5.25rem;
        }
      }
    }
  }

  .A_MenuUpperLink {
    /* background-image: url("clip_images/triangle_2.svg"); */
    /* height: clamp(6rem, 8vw, 9rem); */
  }

  .W_NavigationBottom {
    font-size: 14px;

    .A_CloseMenu {
      display: none;
    }

    .C_CategoresLinks {
      .A_MenuLinkSmall {
        min-width: 50%;
      }
    }

    .C_GiantLinks {
      flex-direction: column;
    }
  }
  .search-modal {
    top: 146px;
  }

  .A_BackLink {
    display: none;
  }

  .L_Form {
    padding: 0.7rem;
  }

  .O_FormBlock {
    .W_Forms {
      padding: 0;
      border: 0;
    }
  }

  .W_Forms {
    padding: 1rem;

    .W_TwoFormRow {
      flex-direction: column;
    }
  }

  .C_AllPosts {
    .O_Post {
      min-width: 100%;
      flex: 1;

      .Q_PostImageLink {
        order: 2;
      }
      .W_PostInfo {
        order: 1;
      }
    }
  }

  .L_CollectionShow {
    gap: 3rem;
  }

  .W_CollectionShowHead {
    gap: 2rem;
  }

  .W_Ð¡ollectionInfoNavigation {
    flex-direction: column;
    max-width: 612px;
    margin: 0 auto;
    text-align: left;
    .empty {
      display: none;
    }

    .C_Tags {
      justify-content: flex-start;
    }

    .W_WorksAmount {
      display: none;
    }

    .O_CollectionInfo {
      text-align: left;
      gap: 0.5rem;
      display: block;

      .M_TitleCreatorName {
        text-align: left;
        align-items: flex-start;
        margin-bottom: 1rem;
      }

      .A_CreatorPost {
        padding: 0;
        margin-bottom: 0.4rem;
      }

      .C_Tags {
        margin-bottom: 1rem;
      }

      h4 {
        margin-bottom: 1rem;
        font-size: 15px;
      }
    }
  }

  .S_Filter {
    .O_FilterTopBar {
      .W_SortingFilters {
        .M_DropDown {
          width: 40px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .filter,
    .sorting {
      display: block;
      width: 30px;
      height: 30px;
    }

    .M_DropDown-content {
      bottom: -100px;
    }

    .A_SortButton {
      .Q_Arrow {
        display: none;
      }

      .selected-value {
        background-color: red;
        position: relative;
        display: none;
      }
    }
  }

  .W_Post {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    .Q_ShowPostImage {
      grid-column: 1 / 7;
      width: 85%;
      margin: 0 auto;
      grid-row: 1/2;
      height: 410px;
      object-fit: cover;
    }
    .S_Post {
      grid-column: 1/7;
      grid-row: 2/3;
      padding: 0;
    }
    .S_Comments {
      margin-top: 0;
    }
  }
  .C_Collections {
    .O_Collection {
      gap: 1rem;
      padding-bottom: 2rem;
      .W_CollectionIndexAbout {
        /* order: 2; */
        .M_CollectionDescription {
          flex-direction: column;

          .C_Tags {
            max-width: 100%;
            gap: 4px;
            order: 2;

            .A_Tag {
              font-size: 12px;
            }
          }

          .M_CollectionIndexDesc {
            width: 100%;
            order: 2;
            padding-left: 0;
            width: 96%;
          }
        }
      }

      .W_CollectionGridAbout {
        order: 1;

        .M_CollectionImages {
          gap: 4px;
          div:nth-child(n + 4) {
            display: none;
          }
        }
      }
    }
  }

  .S_Header {
    height: auto;
    padding: 1rem 0;

    .O_HeaderMenu {
      flex-wrap: wrap;
      gap: 0.5rem;

      .M_LogoDescription {
        order: 1;
        flex: none;
        width: calc(50% - 1.5rem);
      }

      .W_SearchMenu {
        width: 100%;
        order: 3;
        flex: 1;

        .search-head {
          width: 100%;
          order: 2;
        }

        .A_MenuButton {
          order: 1;
        }

        .M_MenuSearch {
          max-width: 100%;
          width: 100%;
        }
      }

      .W_UserOptions {
        order: 2;
        flex: none;
        width: calc(50% - 1.5rem);
      }
    }
  }

  /* Dropdown */

  .C_Tabs {
    width: 100%;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .S_Profile {
    .W_HeadOptions {
      /* flex-direction: column; */
      gap: 1.5rem;
      padding: 0 0 2rem;

      .O_ArtistHead {
        order: 1;
        align-items: center;

        h1.profile-name {
          font-size: clamp(1.8rem, 2vw, 2.2rem);
        }

        .Q_ProfileImage {
          width: clamp(4rem, 4vw, 5rem);
          /* min-width: 4.5rem; */
          height: (4rem, 4vw, 5rem);
          min-width: 4rem;
          min-height: 4.5rem;
          /* aspect-ratio: 1/1; */
        }
        .M_ArtistRatings {
          gap: 0.5rem;
        }
      }
      .A_ButtonSecondary.contact-button {
        order: 2;
      }

      .M_DotsDropdown {
        margin-left: auto;
      }
    }
  }

  .O_PostActionMenu {
    flex-wrap: wrap;
    row-gap: 1rem;

    .A_NavigationPost {
      min-width: 100%;
    }

    .M_LikeFavourite {
      justify-content: flex-start;
    }
  }
  /* SHOW */

  .O_NameSwitcher {
    flex-wrap: wrap;
    .M_TitleCreatorName {
      width: 100%;
      order: 1;
      flex: none;
      text-align: left;
      align-items: flex-start;
      gap: 0.5rem;
    }

    .W_ArrowContainer {
      order: 2;
      padding: 0;
      .A_ArrowSwitcher:first-child {
        order: 2;
      }
      .A_ArrowSwitcher {
        padding: 0;
        background-position: right;
        height: 32px;
        width: 100%;
        padding: 0;
      }
    }
    .M_TitleCreatorName {
      order: 1;
    }
  }
}

@media all and (max-width: 600px) {
  .S_Profile {
    .W_HeadOptions {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;

      .A_ButtonSecondary.contact-button {
        max-width: none;
        width: 100%;
      }
    }
  }

  .text-body {
    text-align: left;
  }

  .S_MainScreen {
    margin-top: -1.5rem;
    .M_LogoStats {
      .C_StatsRow {
        display: none;
      }
    }
  }

  .S_MainWeekWorks {
    .W_WeekAboutTop {
      .W_WeekAboutLeft {
        .O_WeekWorksInfo {
          padding: 0;
          align-items: flex-start;
          justify-content: normal;

          .M_HeadingDates,
          .M_DescriptionTransit {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;

            p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
  .S_MainPageAuthors {
    .M_HeadingTransit {
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
    }

    .W_WorksCounter {
      gap: 0.5rem;
      .Q_PostGridImage:nth-child(1) {
        display: block;
      }
    }
  }

  .W_MainWeekPostsBottom,
  .W_TwoWeekPosts {
    gap: 1rem;
  }

  .A_MenuUpperLink {
    background-image: url("clip_images/triangle 2.svg");
    /* height: clamp(9vh, -0.044vh + 16vh, 13.5vh); */
    height: 12.5vh;
    background-size: 101%;
    /* max-height: 117px; */
    margin-bottom: -0.3vw;

    h4 {
      transform: translateY(2vh);
    }
  }
  .S_MainNewPosts {
    .C_MainNewPosts {
      .O_MainNewPost {
        flex: 1 1 50%;
        max-width: 50%;

        .W_NewWorkInfo {
          padding: 1rem 0.5rem;

          p.footnote {
            font-family: "Inter-Tight";
          }
        }
      }
      .O_MainNewPost:nth-child(3) {
        display: none;
      }
    }
  }

  .O_MainWeekPost {
    .M_AuthorLikes.container {
      display: flex;
      z-index: 100;
      left: -0.2rem;
      bottom: 3.5rem;
      background-color: var(--colors-shade-pink);
      border-radius: 0 4px 0px 0px;
      color: white;
      scale: 0.9;
    }

    .M_ObjectAuthorLikes {
      .M_AuthorLikes {
        display: none;
      }
    }
  }
}

@media all and (max-width: 428px) {
  .A_MenuUpperLink {
    max-height: 117px;
  }

  .W_PostImageDescription {
    .O_PostInformation {
      .M_InfoRow {
        width: calc(50% - 1rem);
      }
    }
  }

  .A_MenuUpperLink {
    background-image: url("clip_images/triangle 2.svg");
    height: 10vh;
  }
}

@media all and (max-width: 520px) {
  .C_ProfilesArtists {
    row-gap: 1rem;
    .O_Profile {
      flex: 1;
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 2rem;
    }
  }
}
