:root {
  --brand-yellow: #fff25e;
  --brand-blue: #6bb5ff;
  --brand-green: #2ddc63;
  --brand-pink: #ff94d3;

  --colors-light-50: #ffffff;
  --colors-light-100: #fcfbfb;
  --colors-light-200: #f6f5f4;
  --colors-light-300: #dfdcd9;
  --colors-light-400: #a39e98;

  --colors-neutral-50: #f1f3f4;
  --colors-neutral-100: #e3e6e8;
  --colors-neutral-200: #c7ced1;
  --colors-neutral-300: #abb5ba;
  --colors-neutral-400: #8e9da4;
  --colors-neutral-600: #5b6a71;
  --colors-neutral-800: #2e3538;
  --colors-neutral-900: #171a1c;

  --colors-shade-blue: #baddff;
  --colors-shade-pink: #f7bee0;
  --colors-shade-green: #adecc4;

  --input-form-background: #faf9f7;
  --input-form-border: #edeae7;

  --system-danger: #ff3b30;
  /* Max-width */
  --max-desktop: 1728px;

  /* CalcPaddingGrid */
  --calc-padding: clamp(1rem, 4.5vw, 6rem);

  /* SharpPoins */
  --sharp: 77.5%;
  /* ContainerSizes */
  --width-container: 1620px;
}
@media (max-width: 1240px) {
  :root {
    --width-container: 928px;
    --sharp: 73.5%;
  }
}
@media all and (max-width: 1060px) {
  :root {
    --width-container: 768px;
    --sharp: 66.5%;
  }
}
@media all and (max-width: 768px) {
  :root {
    --width-container: 90%;
  }
}
