:root {
  --almost-black: #1a1e20;
  --moon-yellow: #fff59e;
  --cream-white: #faf3eb;
  --warm-grey: #eae8e1;
  --pure-white: #ffffff;
  --ash-grey: #858585;
  --lyons-blue: #286bae;
  --sun-yellow: #f4cb29;
  --diamine-green: #3c8c37;
  --sand-yellow: #ffeeb0;
  --pink: #f39ed1;

  --colors-light-50: #ffffff;
  --colors-light-100: #fff9f2;
  --colors-light-200: #faf5ef;
  --colors-light-300: #f2ebe2;
  --colors-light-400: #e8e3dc;

  /* SharpPoins */
  --sharp: 77.5%;
  /* ContainerSizes */
  --width-container: 1620px;
}
@media (max-width: 1240px) {
  :root {
    --width-container: 928px;
    --sharp: 73.5%;
  }
}
@media all and (max-width: 1060px) {
  :root {
    --width-container: 768px;
    --sharp: 66.5%;
  }
}
@media all and (max-width: 768px) {
  :root {
    --width-container: 90%;
  }
}
