:root {
  --almost-black: #1a1e20;
  --moon-yellow: #fff59e;
  --cream-white: #faf3eb;
  --warm-grey: #eae8e1;
  --pure-white: #ffffff;
  --ash-grey: #858585;
  --lyons-blue: #286bae;
  --sun-yellow: #f4cb29;
  --diamine-green: #3c8c37;
  --sand-yellow: #ffeeb0;
  --pink: #f39ed1;

  --colors-light-50: #ffffff;
  --colors-light-100: #fff9f2;
  --colors-light-200: #faf5ef;
  --colors-light-300: #f2ebe2;
  --colors-light-400: #e8e3dc;

  --colors-neutral-50: #f1f3f4;
  --colors-neutral-100: #e3e6e8;
  --colors-neutral-200: #c7ced1;
  --colors-neutral-300: #abb5ba;
  --colors-neutral-400: #8e9da4;
  --colors-neutral-600: #5b6a71;
  --colors-neutral-800: #2e3538;
  --colors-neutral-900: #171a1c;

  --system-danger: #ff3b30;
  /* Max-width */
  --max-desktop: 1728px;

  /* CalcPaddingGrid */
  --calc-padding: clamp(2rem, 6vw, 6rem);

  /* SharpPoins */
  --sharp: 77.5%;
  /* ContainerSizes */
  --width-container: 1620px;
}
@media (max-width: 1240px) {
  :root {
    --width-container: 928px;
    --sharp: 73.5%;
  }
}
@media all and (max-width: 1060px) {
  :root {
    --width-container: 768px;
    --sharp: 66.5%;
  }
}
@media all and (max-width: 768px) {
  :root {
    --width-container: 90%;
  }
}
