<footer>
  <nav style="background: yellow;">
    <%= link_to "Главная", root_path %>
    <%= link_to "О нас", about_path,class: "nav_link" %>
    <%= link_to "Посты", posts_path %>
    <%= link_to "Коллекции", collections_path %>
  </nav>
</footer>